.categories-sec h2 {
  margin-top: 2rem;
  padding: 1rem 0;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-light-accent-1);
}

.sec {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.category-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .category-list {
    flex-wrap: wrap;
  }
}
