.prod-container {
  line-height: 1.5;
}

.prod-container img {
  width: 100%;
  object-fit: cover;
}

.prod-container a {
  color: var(--color-dark-shade);
  text-decoration: none;
}

.prod-container h4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
}

.prod-container p {
  font-size: 0.875rem;
}

@media screen and (max-width: 769px) {
  .prod-container h4,
  .prod-container p {
    font-size: 0.75rem;
  }
}
